@import 'consts';
@import 'modal';
@import 'toast';

.main-navigation *:not(i) {
    font-family: 'Rye', sans-serif;
}

.photos, .videos {
    .photo:not(:last-child), .video:not(:last-child) {
        margin-bottom: 10px;
    }
}

.loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.loader {
    border-left-color: rgb(100,100,100);
    border-bottom-color: rgb(100,100,100);
    &.large {
        border-width: 8px;
        height: 100px;
        width: 100px;
    }
    &.medium {
        border-width: 4px;
        height: 40px;
        width: 40px;
    }
}

.show p:hover {
    perspective: 1000px;
    z-index: 100;
}

.bio {
    display: flex;
    @media(max-width: 600px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-container {
        min-width: 220px;
        img {
            width: 200px;
            height: auto;
        }
    }
}

.form > * {
    margin-bottom: 10px;
}

.form-field.errors {
    .button-group, .input, .select, .textarea, .dropdown-trigger > .button {
        border-color: $red;

        &:focus {
            box-shadow: 0 0 0 0.125rem rgba($red, 0.25);
        }
    }

    .error-list {
        color: $red;
    }
}

.select {
    background-color: white;
    font-size: 14px;
}

.dropdown {
    width: 100%;
    display: flex;
    align-items: center;

    .dropdown-search {
        margin: 0 4px 4px 4px;
        width: calc(100% - 8px);
    }

    .dropdown-item {
        cursor: pointer;

        &.is-active {
            background-color: #3273dc;
            color: #fff;
        }

        &:not(.is-active):not(:active) {
            &.is-hover, &:hover {
                background-color: #f5f5f5;
                color: #0a0a0a;
            }
        }
    }

    .dropdown-content {
        max-height: 195px;
        overflow-y: scroll;
    }
}

input[type=checkbox].large {
    margin-left: 6px;
    transform: scale(1.6, 1.6);
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    &.full {
        justify-content: space-between;
        align-content: space-between;
    }

    &.spaced > * {
        display: flex;

        &:not(.row) {
            justify-content: center;
            flex-direction: column;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.column {
    &.no-grow {
        flex-grow: 0;
    }
    &.spaced > * {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.link-divider {
    align-self: center;
    border-left: 1px solid $light-grey;
    height: 50%;

    @media(max-width: 600px) {
        height: 75%;
    }
}

.location-selector {
    max-width: 180px;
}

.main {
    min-height: calc(100vh - 34px);
    display: flex;
    flex-direction: column;

    @media(max-width: 600px) {
        min-height: calc(100vh - 118px);
    }
}

#app {
    padding-bottom: 10px;
}
