.main-navigation * {
    font-family: 'Rye', sans-serif;
}

.photos {
    .photo:not(:last-child) {
        margin-bottom: 10px;
    }
}

.loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.loader {
    border-left-color: rgb(100,100,100);
    border-bottom-color: rgb(100,100,100);
    &.large {
        border-width: 8px;
        height: 100px;
        width: 100px;
    }
    &.medium {
        border-width: 4px;
        height: 40px;
        width: 40px;
    }
}

.show p:hover {
    perspective: 1000px;
    z-index: 100;
}

.bio {
    display: flex;
    @media(max-width: 600px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-container {
        min-width: 220px;
        img {
            width: 200px;
            height: auto;
        }
    }
}
